<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<connectionStrings><add name="UserProfilerContext" connectionString="metadata=.\UserProfiler.csdl|.\UserProfiler.ssdl|.\UserProfiler.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=MIAMI11_ORCL3;PASSWORD=USER_PROFILER;PERSIST SECURITY INFO=True;USER ID=USER_PROFILER&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>